<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allybros.superego">

    <application
        android:allowBackup="true"
        android:noHistory="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@drawable/ab_logo"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <activity android:name="com.allybros.superego.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.allybros.superego.activity.UserPageActivity"
            android:label="@string/title_activity_profile_page"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name="com.allybros.superego.activity.RegisterActivity"
            android:label="@string/title_activity_register_page"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>